---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
---


<!--img src="assets/video-games-gameboy.svg"-->
    <!--h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2-->
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
	{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

        <h3 style="border-bottom: 2px solid black;">
        <span class="post-meta" style="float: right; margin-top:10px;">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {% case post.categories[0] %}
		{% when 'game' %}
		        {% include game.html %}
		{% when 'music' %}
			{% include music-note-1.svg.html %}
		{% when 'code' %}
			{% include keyboard.svg.html %}
		{% when 'video' %}
			{% include video-clip-3.svg.html %}
		{% when 'writing' %}
			{% include quill.svg.html %}
		{% when 'bandit' %}
			{% include motorcycle-2.svg.html %}
		{% when 'renovation' %}
			{% include places-home-3.svg.html %}
		{% when 'meta' %}
			{% include pencil-2.svg.html %}

	{% endcase %}

        {{ post.title | escape }}
        </a>
        </h3>
        <a href="{{ post.url | relative_url }}">
          <div class="post_content">
            {{ post.excerpt }}
	    <a class="read_more" href="{{ post.url | relative_url }}">...read more</a>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
