<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="24.001px" height="24.002px" viewBox="0 0 24.001 24.002" enable-background="new 0 0 24.001 24.002" xml:space="preserve" style="margin-bottom:-5px;">
<g id="Frames-24px">
	<rect fill="none" width="24.001" height="24.002"/>
</g>
<g id="Outline">
	<g>
		<path fill="#00aa00" d="M18.999,1h-14c-1.103,0-2,0.896-2,2v18c0,1.103,0.897,2,2,2h11c2.757,0,5-2.243,5-5V3
			C20.999,1.896,20.102,1,18.999,1z M15.999,21h-11V3h14v15C18.999,19.654,17.653,21,15.999,21z"/>
		<polygon fill="#00aa00" points="9.999,14 7.999,14 7.999,16 5.999,16 5.999,18 7.999,18 7.999,20 9.999,20 9.999,18 11.999,18 
			11.999,16 9.999,16 		"/>
		<circle fill="#00aa00" cx="16.999" cy="16" r="1"/>
		<circle fill="#00aa00" cx="14.999" cy="18" r="1"/>
		<path fill="#00aa00" d="M16.999,4h-10c-0.552,0-1,0.448-1,1v7c0,0.552,0.448,1,1,1h10c0.552,0,1-0.448,1-1V5
			C17.999,4.448,17.551,4,16.999,4z M15.999,11h-8V6h8V11z"/>
	</g>
</g>
</svg>

