---
layout: post
comments: false
---

<!-- This is a hot mess. Rename cpost to post to activate and override the default, but this also throws out all the other page
   details/theme. And comments don't work. And the updated at doesn't show. So, yeah. -->

{%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}

{%- if page.updated_at -%}
    Last updated: {{ page.updated_at | date: date_format }}
{%- endif -%}

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://mrpotter.us';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{page.url}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://mrpotter.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//mrpotter.disqus.com/count.js" async></script>                            
{% endif %}
